        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu1" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="heading">
                <h3>GENERAL MENU</h3>
            </li>
            <li class="active">
                <a href="/dashboard">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-briefcase"></i>
                    <span class="title">Data Tables</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">
                            <i class="icon-user"></i>
                            Sample Link 2</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i>
                            Sample Link 2</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i>
                            Sample Link 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-folder"></i>
                    <span class="title">Multi Level Menu</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="icon-settings"></i> Item 1 <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-user"></i>
                                    Sample Link 1 <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#"><i class="icon-power"></i> Sample Link 1</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-paper-plane"></i> Sample Link 2</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-star"></i> Sample Link 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3>SETTING MENU</h3>
            </li>
            <li class="">
                <a href="/user">
                    <i class="icon-user"></i>
                    <span class="title">User</span>
                </a>
            </li>
            <li class="">
                <a href="/group">
                    <i class="icon-users"></i>
                    <span class="title">Group</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
